# deps
node_modules/

# next
.next/
out/

# typescript build cache (não versionar — muda a cada build)
*.tsbuildinfo

# env (never commit keys)
.env
.env.local
.env.*.local

# prisma db
prisma/hydra.db
prisma/hydra.db-journal

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/
